.choosecontainer{
    height: 800px;
    width: 100%;
}

.firstchoosesection{
    background-color: var(--primary-color);
    position: relative;
}

.chooseimg{
    position: absolute;
    top: 10rem;
    left: 4rem;
    width: 105%;
}

.featuretag{
    position: absolute;
    bottom: 11.5rem;
    left: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--default-font-family);
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    padding: 0.8rem 1.6rem; 
}

.featuretagicon{
    margin-right: 0.8rem;
}

.featuretagtext{
    margin: 1rem auto;
    margin-left: -0.1rem;
}

.secondchoosesection{
    background-color: var(--tertiary-color);
    padding: 11rem 0 8rem;
    padding-left: 8em !important;  
}

.choosetitle{
    background: rgba(232, 232, 232, 0.5);
    color: var(--heading-font);
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    border-left: 4px solid #FFB629;
    padding: 0.3rem 0.6rem;
}

.choosemaintitle{
    color: var(--heading-font);
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 0;
}

.choosesubmaintitle{
    color: var(--paragraph-font);
    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 1rem;
}

.choosefeatures{
    padding: 3rem 0;
}

.choosefeature{
    display: flex;
    margin: 1rem 0;
}

.choosefeaturetext{
    margin: 1rem 0.5rem;
    color: var(--heading-font);
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 1rem;
}