.projectcontainer{
   margin: 6rem 0;
}

.projectheading{
    color: var(--heading-font);
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 0;
}

.projectbgimg{
    width: 100%;
}