.projectmainsection{
  position: relative;
  padding-top: 26rem;
}

.projectcontainer{
   margin-top: 0rem;
   padding-top: 0;
   position: absolute;
   bottom: 6rem;   
} 

.projectinnercontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
}

.projectheading{
    color: var(--heading-font);
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 0;
}

.projectbgimg{
    width: 100%;
}

.projectimage{
    width: 100%;
}

.projectsection {
  position: relative;
  margin: 0 0.5rem;
}

.projectinfo {
  position: absolute;
  bottom: 6px;
  left: 16px;
}

.projecttext{
  color: var(--white-color);
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.projectsubtext{
   color: var(--secondary-color);
   font-family: var(--secondary-font-family);
   font-weight: 500;
   font-size: 1rem;
}

.projectbgimage{
   width: 100%;
}

.moreworkbtn:link,
.moreworkbtn:visited { 
    font-family: var(--secondary-font-family);
    font-size: 1rem;
    font-weight: 500;
    background: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    display: inline-block;
    padding: 1rem 3rem;
}
