.contactcontainer{
    background-color: var(--primary-color);
    height: 1060px;
}

.contactinnercontainer{
    display: flex;
    padding: 8rem 12rem 3rem;
}

.contacttext{
    background: rgba(232, 232, 232, 0.5);
    color: var(--heading-font);
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    border-left: 4px solid #FFB629;
    padding: 0.3rem 0.6rem;
}

.contactmaintext{
    color: var(--white-color);
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 2.1rem;
    padding: 1rem 0;
    margin-bottom: 0;
}

.contactsubtext{
    color: var(--white-color);
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
}

.contactdetails{
    padding: 1rem 0;
}

.contactinfo{
    display: flex;
    margin: 1.5rem 0;
}

.contacttime{
    color: var(--white-color);
    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0.8rem;
    margin-left: 1rem;
}

.contacttime p{
    margin-bottom: 0;
}

/* Contact */

.contactform {
    padding: 2rem 0rem 2rem 6rem;
}

.inputcontainer {
    width: 100%;
}

input[type=text],
input[type=email]
 {
   width: 100%;
   padding: 0.8rem 1rem;
   box-sizing: border-box;
   border-radius: 0;
   background-color: var(--primary-color);
   border: 1px solid #4E5683;
}

input[type=text]:focus,
input[type=email]:focus {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0;
  }

input::placeholder{
    color: var(--white-color) !important;
  }

textarea{
    width: 100%;
    border-radius: 0;
    background-color: var(--primary-color);
    border: 1px solid #4E5683;
    padding: 12px 20px;
    color: var(--white-color);
    resize: none !important;
}

textarea::placeholder{
    color: var(--white-color) !important;
  }

.contactbtn:link,
.contactbtn:visited { 
    font-family: var(--secondary-font-family);
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    color: #23212A;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
}
  

.clientlogocontainer{
     padding-bottom: 2rem;
}
