.headercontainer{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    padding: 2rem 5rem;
}

.logo{
    text-align: center;
    padding-top: 0.5rem;
}

.headerinnercontainer{
    display: flex;
    justify-content: space-between;
}

.headerinfo{
    display: flex;
    margin: 0 2rem;
}

.headerinfoicon{
    width: 60px;
    height: 60px;
}

.headertext{
    color: var(--white-color);
    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 0.6rem;
    padding: 0.7rem 0;
}

.headertext p{
    margin-bottom: 0;
}